{% extends "base.html" %}
{% load static %}

{% block body %}
    <section class="clean-block container-fluid" style="margin-top:200px;width:1400px;padding-right:200px;padding-left:200px">
        <h2 class="text-info" style="text-align:center;margin-bottom:15px">An error has occurred.</h2>
        <p style="text-align:justify">We are looking into this.</p>
        <p style="text-align:justify">Meanwhile, you can go to the <a href="{%  url 'home' %}">homepage</a> and try again.</p>
    </section>
{% endblock %}