{% extends "base.html" %}
{% load static %}

{% block body %}
<section class="clean-block container-fluid" style="margin-top:200px;width:1400px;padding-right:200px;padding-left:200px">
    <br>
        <h2 class="text-info" style="text-align:center;margin-bottom:15px">Here are your results</h2>
        <h4 class="bg-info bg-gradient bg-opacity-50">Layer 1: {{ sections.1 }}</h4>
        <p>You average cyber security risk rating for this layer: <b>{{ scores.layer1 }}/5</b></p>
        <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
        {% for entry in suggestions.layer1 %}
            <div class="accordion" id="accordion-layer1">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse.show" data-bs-target="#{{ entry.sid }}" aria-expanded="false" aria-controls={{ entry.sid }}>
                        {{ entry.risk }}
                        </button>
                    </h2>
                    <div id={{ entry.sid }} class="accordion-collapse collapse show" data-bs-parent="#accordion-layer1">
                        <div class="accordion-body">
                            <p>{{ entry.action|linebreaks }}</p>
                            <p>{{ entry.sources|safe|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h4 class="bg-info bg-gradient bg-opacity-50">Layer 2: {{ sections.2 }}</h4>
        <p>You average cyber security risk rating: <b>{{ scores.layer2 }}/5</b></p>
        <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
        {% for entry in suggestions.layer2 %}
            <div class="accordion" id="accordion-layer2">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse.show" data-bs-target="#{{ entry.sid }}" aria-expanded="false" aria-controls={{ entry.sid }}>
                        {{ entry.risk }}
                        </button>
                    </h2>
                    <div id={{ entry.sid }} class="accordion-collapse collapse show" data-bs-parent="#accordion-layer2">
                        <div class="accordion-body">
                            <p>{{ entry.action|linebreaks }}</p>
                            <p>{{ entry.sources|safe|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h4 class="bg-info bg-gradient bg-opacity-50">Layer 3: {{ sections.3 }}</h4>
        <p>You average cyber security risk rating: <b>{{ scores.layer3 }}/5</b></p>
        <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
        {% for entry in suggestions.layer3 %}
            <div class="accordion" id="accordion-layer3">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse.show" data-bs-target="#{{ entry.sid }}" aria-expanded="false" aria-controls={{ entry.sid }}>
                        {{ entry.risk }}
                        </button>
                    </h2>
                    <div id={{ entry.sid }} class="accordion-collapse collapse show" data-bs-parent="#accordion-layer3">
                        <div class="accordion-body">
                            <p>{{ entry.action|linebreaks }}</p>
                            <p>{{ entry.sources|safe|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h4 class="bg-info bg-gradient bg-opacity-50">Layer 4: {{ sections.4 }}</h4>
        <p>You average cyber security risk rating: <b>{{ scores.layer4 }}/5</b></p>
        <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
        {% for entry in suggestions.layer4 %}
            <div class="accordion" id="accordion-layer4">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse.show" data-bs-target="#{{ entry.sid }}" aria-expanded="false" aria-controls={{ entry.sid }}>
                        {{ entry.risk }}
                        </button>
                    </h2>
                    <div id={{ entry.sid }} class="accordion-collapse collapse show" data-bs-parent="#accordion-layer4">
                        <div class="accordion-body">
                            <p>{{ entry.action|linebreaks }}</p>
                            <p>{{ entry.sources|safe|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h4 class="bg-info bg-gradient bg-opacity-50">Layer 5: {{ sections.5 }}</h4>
        <p>You average cyber security risk rating: <b>{{ scores.layer5 }}/5</b></p>
        <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
        {% for entry in suggestions.layer5 %}
            <div class="accordion" id="accordion-layer5">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse.show" data-bs-target="#{{ entry.sid }}" aria-expanded="false" aria-controls={{ entry.sid }}>
                        {{ entry.risk }}
                        </button>
                    </h2>
                    <div id={{ entry.sid }} class="accordion-collapse collapse show" data-bs-parent="#accordion-layer5">
                        <div class="accordion-body">
                            <p>{{ entry.action|linebreaks }}</p>
                            <p>{{ entry.sources|safe|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <h4 class="bg-info bg-gradient bg-opacity-50">Layer 6: {{ sections.6 }}</h4>
        <p>You average cyber security risk rating: <b>{{ scores.layer6 }}/5</b></p>
        <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
        {% for entry in suggestions.layer6 %}
            <div class="accordion" id="accordion-layer6">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse.show" data-bs-target="#{{ entry.sid }}" aria-expanded="false" aria-controls={{ entry.sid }}>
                        {{ entry.risk }}
                        </button>
                    </h2>
                    <div id={{ entry.sid }} class="accordion-collapse collapse show" data-bs-parent="#accordion-layer6">
                        <div class="accordion-body">
                            <p>{{ entry.action|linebreaks }}</p>
                            <p>{{ entry.sources|safe|linebreaks }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% if scores.overall < 1  %}
            <h4 style="text-align:center" class="bg-success .text-body-emphasis">Your overall cyber security risk rating: {{ scores.overall }} / 5<br>
                VERY LOW RISK</h4>
        {% elif scores.overall >= 1 and scores.overall < 2 %}
            <h4 style="text-align:center" class="bg-success-subtle">Your overall cyber security risk rating: {{ scores.overall }} / 5<br>
                LOW RISK</h4>
        {% elif scores.overall >= 2 and scores.overall < 3 %}
            <h4 style="text-align:center" class="bg-warning .text-body-emphasis bg-opacity-50">Your overall cyber security risk rating: {{ scores.overall }} / 5<br>
                MODERATE RISK</h4>
        {% elif scores.overall >= 3 and scores.overall < 4 %}
            <h4 style="text-align:center" class="bg-danger-subtle">Your overall cyber security risk rating: {{ scores.overall }} / 5<br>
                HIGH RISK</h4>
        {% elif scores.overall >= 4 %}
            <h4 style="text-align:center" class="bg-danger .text-body-emphasis">Your overall cyber security risk rating: {{ scores.overall }} / 5<br>
                VERY HIGH RISK</h4>
        {% endif %}
            <h4 class="bg-success bg-gradient text-white text-center">Data Flow Diagram of Your Organisation</h4>
        <div class="text-center position-relative">
            <img class="img-fluid" src="{%static "sampleDFD.jpg" %}" style="width: 620px;" alt="Data Flow Diagram of your organisation"/>
        </div>
        <p>This is the data flow diagram of your organisation based on your answers. Please note that this might
            not be an accurate and complete presentation of your organisation, but take it as a starting point to think
            about possible vulnerabilities in your data flows, network and systems.</p>
        <div class="text-center">
            <button class="btn btn-outline-primary btn-lg" type="button" onclick="location.href='questions.html'">Download report (.pdf)</button>
        </div>
    </div>
</section>
{% endblock %}