{% extends "base.html" %}
{% load static %}

{% block body %}
<section class="clean-block container" style="margin-top:200px;width:1400px;padding-right:200px;padding-left:200px">
    <div class="container">
        <div class="row">
            <br>
            <h2 class="text-info" style="text-align:center;margin-bottom:15px">Here are your results</h2>
            <div>
                {% if scores.overall < 1  %}
                        <div class="alert alert-success text-center" role="alert">
                          <p>Your overall cyber security risk rating: <b>{{ scores.overall }} / 5</b></p>
                          <hr>
                          <p class="mb-0 fs-3 fw-bolder">VERY LOW RISK</p>
                        </div>
                {% elif scores.overall >= 1 and scores.overall < 2 %}
                        <div class="alert alert-success text-center" role="alert">
                          <p>Your overall cyber security risk rating: <b>{{ scores.overall }} / 5</b></p>
                          <hr>
                          <p class="mb-0 fs-3 fw-bolder">LOW RISK</p>
                        </div>
                {% elif scores.overall >= 2 and scores.overall < 3 %}
                    <div class="alert alert-warning text-center" role="alert">
                      <p>Your overall cybersecurity risk rating: <b>{{ scores.overall }} / 5</b></p>
                      <hr>
                      <p class="mb-0 fs-3 fw-bolder">MODERATE RISK</p>
                    </div>
                {% elif scores.overall >= 3 and scores.overall < 4 %}
                    <div class="alert alert-danger text-center" role="alert">
                      <p>Your overall cybersecurity risk rating: <b>{{ scores.overall }} / 5</b></p>
                      <hr>
                      <p class="mb-0 fs-3 fw-bolder">HIGH RISK</p>
                    </div>
                {% elif scores.overall >= 4 %}
                    <div class="alert alert-danger text-center" role="alert">
                      <p>Your overall cybersecurity risk rating: <b>{{ scores.overall }} / 5</b></p>
                      <hr>
                      <p class="mb-0 fs-3 fw-bolder">VERY HIGH RISK</p>
                    </div>
                {% endif %}
            </div>
            <div>
                <br>
            </div>
             <div class="alert alert-info fw-bold fs-5">
                Layer 1: {{ sections.1 }}
            </div>
            <p>You average cyber security risk rating for this layer: <b>{{ scores.layer1 }}/5</b></p>
            <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
            <div class="accordion" id="accordion-layer1">
            {% for entry in suggestions.layer1 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="header{{ entry.sid }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ entry.sid }}" aria-expanded="false" aria-controls="collapse{{ entry.sid }}">
                            {{ entry.risk }}
                            </button>
                        </h2>
                        <div id="collapse{{ entry.sid }}" class="accordion-collapse collapse" data-bs-parent="#accordion-layer1" aria-labelledby="header{{ entry.sid }}">
                            <div class="accordion-body">
                                <p>{{ entry.action|linebreaks }}</p>
                                <p>{{ entry.sources|safe|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
            <br>
            <div class="alert alert-info fw-bold fs-5">
                Layer 2: {{ sections.2 }}
            </div>
            <p>You average cyber security risk rating: <b>{{ scores.layer2 }}/5</b></p>
            <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
            <div class="accordion" id="accordion-layer2">
            {% for entry in suggestions.layer2 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="header{{ entry.sid }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ entry.sid }}" aria-expanded="false" aria-controls="collapse{{ entry.sid }}">
                            {{ entry.risk }}
                            </button>
                        </h2>
                        <div id="collapse{{ entry.sid }}" class="accordion-collapse collapse" data-bs-parent="#accordion-layer2" aria-labelledby="header{{ entry.sid }}">
                            <div class="accordion-body">
                                <p>{{ entry.action|linebreaks }}</p>
                                <p>{{ entry.sources|safe|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
            <br>
            <div class="alert alert-info fw-bold fs-5">
                Layer 3: {{ sections.3 }}
            </div>
            <p>You average cyber security risk rating: <b>{{ scores.layer3 }}/5</b></p>
            <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
            <div class="accordion" id="accordion-layer3">
            {% for entry in suggestions.layer3 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="header{{ entry.sid }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ entry.sid }}" aria-expanded="false" aria-controls="collapse{{ entry.sid }}">
                            {{ entry.risk }}
                            </button>
                        </h2>
                        <div id="collapse{{ entry.sid }}" class="accordion-collapse collapse" data-bs-parent="#accordion-layer3" aria-labelledby="header{{ entry.sid }}">
                            <div class="accordion-body">
                                <p>{{ entry.action|linebreaks }}</p>
                                <p>{{ entry.sources|safe|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
            <br>
            <div class="alert alert-info fw-bold fs-5">
                Layer 4: {{ sections.4 }}
            </div>
            <p>You average cyber security risk rating: <b>{{ scores.layer4 }}/5</b></p>
            <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
            <div class="accordion" id="accordion-layer4">
            {% for entry in suggestions.layer4 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="header{{ entry.sid }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ entry.sid }}" aria-expanded="false" aria-controls="collapse{{ entry.sid }}">
                            {{ entry.risk }}
                            </button>
                        </h2>
                        <div id="collapse{{ entry.sid }}" class="accordion-collapse collapse" data-bs-parent="#accordion-layer4" aria-labelledby="header{{ entry.sid }}">
                            <div class="accordion-body">
                                <p>{{ entry.action|linebreaks }}</p>
                                <p>{{ entry.sources|safe|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
            <br>
            <div class="alert alert-info fw-bold fs-5">
                Layer 5: {{ sections.5 }}
            </div>
            <p>You average cyber security risk rating: <b>{{ scores.layer5 }}/5</b></p>
            <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
            <div class="accordion" id="accordion-layer5">
            {% for entry in suggestions.layer5 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="header{{ entry.sid }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ entry.sid }}" aria-expanded="false" aria-controls="collapse{{ entry.sid }}">
                            {{ entry.risk }}
                            </button>
                        </h2>
                        <div id="collapse{{ entry.sid }}" class="accordion-collapse collapse" data-bs-parent="#accordion-layer5" aria-labelledby="header{{ entry.sid }}">
                            <div class="accordion-body">
                                <p>{{ entry.action|linebreaks }}</p>
                                <p>{{ entry.sources|safe|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
            <br>
            <div class="alert alert-info fw-bold fs-5">
                Layer 6: {{ sections.6 }}
            </div>
            <p>You average cyber security risk rating: <b>{{ scores.layer6 }}/5</b></p>
            <p class="bg-success-subtle text-success-emphasis"><b>Recommended actions to reduce your risk:</b></p>
            <div class="accordion" id="accordion-layer6">
            {% for entry in suggestions.layer6 %}
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="header{{ entry.sid }}">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapse{{ entry.sid }}" aria-expanded="false" aria-controls="collapse{{ entry.sid }}">
                            {{ entry.risk }}
                            </button>
                        </h2>
                        <div id="collapse{{ entry.sid }}" class="accordion-collapse collapse" data-bs-parent="#accordion-layer6" aria-labelledby="header{{ entry.sid }}">
                            <div class="accordion-body">
                                <p>{{ entry.action|linebreaks }}</p>
                                <p>{{ entry.sources|safe|linebreaks }}</p>
                            </div>
                        </div>
                    </div>
            {% endfor %}
            </div>
            <br>
            <div class="alert alert-danger fw-bold fs-5 text-center">
                Data Flow Diagram of Your Organisation
            </div>
            <div class="text-center position-relative" style="border: 2px solid black;">
                <img class="img-fluid" src="{{ fname }}" style="width: 1000px;" alt="Data Flow Diagram of your organisation"/>
            </div>
            <p>This is the data flow diagram of your organisation based on your answers. Please note that this might
                not be an accurate and complete presentation of your organisation, but take it as a starting point to think
                about possible vulnerabilities in your data flows, network and systems.</p>
            <div class="text-center">
                <form method="post" id="form2">
                    {% csrf_token %}
                    <input type='hidden' value='download_pdf' name='download_pdf'>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <button id="btnDownload" class="btn btn-outline-primary" Style="width: auto;" type="submit">Download report (PDF)</button>
                             <button id="btnHome" class="btn btn-outline-primary" Style="width: auto;" type="button" onclick="location.href='{%  url 'home' %}'">Back to Home Page</button>
                         </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

{% endblock %}

