{% extends "base.html" %}
{% load static %}

{% block body %}
    <section class="clean-block" style="margin-top: 200px">
    <div class="container">
        <h2 class="text-info" style="text-align:center">Contact the SEANCE Team</h2>
    </div>
    <div class="container" id="ff-compose"></div>
    <script async defer src="https://formfacade.com/include/108732450451635320866/form/1FAIpQLSdnaSXRso53vv64PFsQfNotIW2cmSipe6al84Y7M3ZqvV1ZoA/bootstrap.js?div=ff-compose"></script>
</section>
{% endblock %}