{% extends "base.html" %}
{% load static %}

{% block body %}
    <section class="clean-block container-fluid" style="margin-top: 200px">
        <div class="container-fluid">
            <div class="row">
                 <h2 class="text-info" style="text-align:center">Non-technical threat modelling is possible.</h2>
            </div>
            <div class="row col-md-12">
                <div class="col"></div>
                <div class="col-lg-8 text-center">
                    <p>You do not have to be a cyber security expert to start threat modelling. SEANCE Framework will bring a fresh perspective to threat modelling in micro businesses.</p>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <div class="row justify-content-center mx-auto">
            <div class="col-md-5 feature-box" style="padding-top:40px">
                <h4>Meet SEANCE FRAMEWORK</h4>
                <p align="justify">SEANCE Threat Modelling Framework for micro businesses is designed to help micro business owners who do not have the cyber security knowledge or a budget to spend on cyber security to model the threats against their businesses. You can learn more about SEANCE Framework <a href="about.html"><span style="color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));">here</span></a>.</p>
            </div>
            <div class="col-md-5 feature-box"><img alt="internet, touch screen, cybersecurity" src="{%static "homepage1.jpg" %}" style="margin-right: 41px;width: 350px;padding: 0px;" /></div>
            <div class="col-md-5 feature-box" style="padding-top:40px">
                <h4>Start threat modelling. Now.</h4>
                <p align="justify">SEANCE web application complements SEANCE Framework and enables micro business owners to tackle with threat modelling by answering a few simple questions about their businesses. You can start threat modelling <a href="start.html"><span style="color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));">here</span></a>.<br /><br />Happy threat modelling!</p>
            </div>
            <div class="col-md-5 feature-box"><img alt="security, cyber, data" src="{%static "homepage2.jpg" %}" style="margin-right: 41px;width: 350px;padding: 0px;" /></div>
        </div>
</section>
{% endblock %}