{% extends "base.html" %}
{% load static %}

{% block body %}
    <section class="clean-block container-fluid" style="margin-top: 200px">
        <div class="container-fluid">
            <div class="row">
                 <h2 class="text-info" style="text-align:center">Non-technical threat modelling is possible.</h2>
            </div>
            <div class="row col-md-12">
                <div class="col"></div>
                <div class="col-lg-8 text-center">
                    <p>You do not have to be a cyber security expert to start threat modelling. SEANCE Framework will bring a fresh perspective to threat modelling in micro businesses.</p>
                </div>
                <div class="col"></div>
            </div>
            <div class="row mx-xxl-5 ps-xxl-5">
                <div class="col ps-xxl-5" style="padding-top:40px;">
                    <p class="fs-5"><b>Meet SEANCE FRAMEWORK</b></p>
                    <p align="justify" class="fs-6" style="padding-right: 2%">SEANCE Threat Modelling Framework for micro businesses is designed to help micro business owners who do not have the cyber security knowledge or a budget to spend on cyber security to model the threats against their businesses. You can learn more about SEANCE Framework <a href="about.html"><span style="color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));">here</span></a>.</p>
                </div>
                <div class="w-100 d-xl-none d-lg-none d-xl-block d-md-none d-lg-block"></div>
                <div class="col" style="padding-top:40px;">
                    <img class="img-fluid mx-auto d-block" alt="internet, touch screen, cybersecurity" src="{%static "homepage1.jpg" %}" style="width: 350px;" />
                </div>
            </div>
            <div class="row mx-xxl-5 ps-xxl-5">
                <div class="col ps-xxl-5" style="padding-top:40px;">
                    <p class="fs-5"><b>Start threat modelling. Now.</b></p>
                    <p align="justify" class="fs-6">SEANCE web application complements SEANCE Framework and enables micro business owners to tackle with threat modelling by answering a few simple questions about their businesses. You can start threat modelling <a href="start.html"><span style="color: rgba(var(--bs-link-color-rgb), var(--bs-link-opacity, 1));">here</span></a>.<br /><br />Happy threat modelling!</p>
                </div>
                <div class="w-100 d-xl-none d-lg-none d-xl-block d-md-none d-lg-block"></div>
                <div class="col" style="padding-top:40px;">
                    <img class="img-fluid mx-auto d-block" alt="security, cyber, data" src="{%static "homepage2.jpg" %}" style="width: 350px;" /></div>
                </div>
            </div>
</section>
{% endblock %}