{% extends "base.html" %}
{% load static %}

{% block body %}
<section class="clean-block container-fluid" style="margin-top:200px;width:1400px;padding-right:200px;padding-left:200px">
    <h2 class="text-info" style="text-align:center;margin-bottom:15px">Layer 1: (your)Self</h2>
    <form method="post">
      {% csrf_token %}
      <label>{{ question.text }}</label></br>
      {% if question.qtype == 6 %}
          <input type="radio" name="answer" value="Yes"> Yes<br>
          <input type="radio" name="answer" value="No"> No<br>
          <input type="radio" name="answer" value="IDK"> I don't know/I am not sure<br>
      {% else %}
          <input type="radio" name="answer" value="Yes"> Yes<br>
      {% endif %}
      <button type="submit">Submit</button>
    </form>
        <button class="btn btn-outline-primary btn-lg horizontal-centered" type="button" onclick="location.href='seance-layer1.html'">Start Threat Modelling</button>
</section>
{% endblock %}