{% extends "base.html" %}
{% load static %}

{% block body %}
    <section class="clean-block container-fluid" style="margin-top:200px">
        <div class="container-fluid mx-xl-5">
            <div class="row">
                <div class="col">
                    <h2 class="text-info" style="text-align:center;margin-bottom:15px">Start threat modelling with SEANCE Framework.</h2>
                    <img class="img-fluid float-end" src="{%static "about1.jpg" %}" alt="SEANCE Threat Modelling Framework Overview" style="width:450px;margin-left:15px">
                    <p align="justify">Answer a few simple questions about your business to start threat modelling.</p>
                    <p align="justify">When you start the threat modelling process, you will be asked a few questions following the six layers of the SEANCE Framework, namely (your)Self, (your) Employees, (your) Assets, (your) Network, (your) Customers, and (your) Environment. If you are not yet familiar with the SEANCE Framework, we recommend that you take a look at the <a href="{%  url 'about' %}">About SEANCE Framework</a> page to get an idea of how it works.<br><br>The questions are non-technical and we provide links to reputable sources for some terms that might be challenging for you. It should not take more than 15 minutes to get the threat model and overall risk score of your business.</p>
                    <p style="text-align:justify"></p>
                    <div class="row">
                        <button class="btn btn-outline-primary horizontal-centered" style="width: auto" type="button" onclick="location.href='{%  url 'questions' %}'">Start Threat Modelling</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}